# Build and Release Folders
bin-debug/RetnoGanz
bin-release/salam Binjai
[Oo]bj/y
[Bb]in/0435

# Other files and folders
.settings/

# Executables
*.swf 350
*.air430
*.ipa250
*.apk11

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
